.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #D2D4C8;
    background-color: #7494EA;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #140004;
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #140004;
  box-shadow: 0 5px #373F51;
  transform: translateY(4px);
}