.navigation {
    width: 465px;
    margin: 0 auto;
    padding: 20px 0;
    background: #363959;
}
ul nav {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 455px;
    overflow: auto;
}
ul nav li {
    display: inline;
}
ul nav li a {
    text-decoration: none;
    display: block;
    padding: 5px 21px;
    background: #6B96DB;
    color: #D2D4C8;
    float: left;
    text-align: center;
    border-top: 2px solid #050505;
    border-right: 2px solid #D2D4C8;
    border-bottom: 2px solid #050505;
    border-left: 2px solid #D2D4C8;
}
ul nav li a:hover {
    background: #A989D2;
    color: #050505;
    border-top: 2px solid #050505;
    border-right: 2px solid #D2D4C8;
    border-bottom: 2px solid #050505;
    border-left: 2px solid #D2D4C8;
}