h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    color: blueviolet;
    text-align: center;
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: #4B404F;
    text-align: center;
}
.intro {
    padding: 2px;
    margin: auto;
    border: #4B404F;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}