h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    color: blueviolet;
    text-align: center;
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: #4B404F;
    text-align: center;
}
.intro {
    padding: 2px;
    margin: auto;
    border: #4B404F;
}
 nav .button a {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #E9F5E0;
    background-color: #2A1E5C;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #E9F5E0;
  }
  
  nav .button a:hover {background-color: #2A1E5C}
  
  nav .button a:active {
    background-color: #E9F5E0;
    box-shadow: 0 5px #2A1E5C;
    transform: translateY(4px);
  }
  