.body {
    background-color: lightblue;

}
.nav {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color:#4B404F;
    text-decoration: none;
    word-spacing: 10px;
    text-align: center;
    padding: 10px;
    border: #4B404F;
}
hr {
    border: 2px dotted #4B404F;
    border-radius: 5px;
    width: 50%;
}
a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.main .intro p {
    color: black;
    border-top: 10px;
    border-left: 10px;
    border-bottom: 10px;
    border-right: 10px;
    margin: auto;
    width: 50%;
    padding: 12px;
    text-align: center;
}
.about p {
    border-top: 10px;
    border-left: 10px;
    border-bottom: 10px;
    border-right: 10px;
    margin: auto;
    width: 50%;
    padding: 12px;
    text-align: center;
}
.business p {
    border-top: 10px;
    border-left: 10px;
    border-bottom: 10px;
    border-right: 10px;
    margin: auto;
    width: 50%;
    padding: 12px;
    text-align: center;
}
.school p {
    border-top: 10px;
    border-left: 10px;
    border-bottom: 10px;
    border-right: 10px;
    margin: auto;
    width: 50%;
    padding: 12px;
    text-align: center;
}
.gallery p {
    border-top: 10px;
    border-left: 10px;
    border-bottom: 10px;
    border-right: 10px;
    margin: auto;
    width: 50%;
    padding: 12px;
    text-align: center;
}
.contact p {
    border-top: 10px;
    border-left: 10px;
    border-bottom: 10px;
    border-right: 10px;
    margin: auto;
    width: 50%;
    padding: 12px;
    text-align: center;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    color: blueviolet;
    text-align: center;
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: #4B404F;
    text-align: center;
    padding: 2px;
    margin: auto;
    border: #4B404F;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
ol li {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color:#4B404F;
    text-decoration: none;
    word-spacing: 4px;
    text-align: left;
    padding: 10px;
    border: #4B404F;
}
ul li {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color:#4B404F;
    text-decoration: none;
    word-spacing: 4px;
    text-align: left;
    padding: 10px;
    border: #4B404F;
}
.about .bookimg {
    width: 50%;
    height: 100px;
    align-content: center;
    margin-right: 20%;
    margin-left: 20%;
    padding: 5%;
}